.about {
  padding: 100px 80px 173px;
  background-color: #0a2850;
  color: #fff;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.about__title {
  margin: 0;
  max-width: 251px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  z-index: 1;
}

.about__content {
 margin-top: 19px;
 max-width: 660px;
 font-family: "Noto Serif";
 font-style: normal;
 font-weight: normal;
 font-size: 20px;
 line-height: 30px;
 z-index: 1;
}

.about__paragraph {
 margin: 0 0 20px;
}

.about__paragraph:last-child {
  margin-bottom: 0;
}

.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -129px;
  z-index: 0;
}

@keyframes blurAnimation {
  0% {
    filter: blur(0px);
    opacity: 0;
  }
  50% {
    filter: blur(10px);
    opacity: 0.6;

  }
  100% {
    filter: blur(0px);
    opacity: 0;
    transform: scale(1.1);
  }
}

.about__circle_animation_blurred {
  animation: blurAnimation 1.3s ease-in-out infinite;
  z-index: 0;
}