.card{
width: 540px;
}

.card__title{
  margin:0 0 32px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list{
  padding-left: 0px;
  margin:0;
}

.card__list-item{
margin-bottom:16px;
list-style-type: none;
display: flex;
font-family: "Noto Serif", "Times New Roman", serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
}

.card__list-item:last-child{
  margin-bottom: 0;
}

.card__list-divider{
  border-bottom: 1px solid black;
  width: 1px;
  flex-grow: 1;
}